/*

selector (element){ (alt-gr+7)
egenskap1:värde1;
egenskap1:värde2;
}(alt-gr+8)

*/

h1{
    color:hotpink;
    background-color: rgb(255, 189, 241);
    margin-left: 30px;
    margin-right: 30px ;
    text-align: center;
}

body{
    background-image: url(https://www.colorhexa.com/ffdef2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p{
    margin-bottom: 3%;
    margin-left: 20px;
    margin-right: 50px;
}

h2{
    margin-left: 20px;
    color: rgb(214, 79, 151);
}

img{
    margin-left: 20px;
}

.Ribbon1{
    background-color: rgb(253, 173, 221);
    border: 10px rgb(255, 82, 203) solid;
    border-radius: 10px;
    text-align: left;
    font-size: medium;
    margin: 1%;
    margin-right: 20%;
}

.Ribbon2{
    background-color: rgb(253, 173, 221);
    border: 10px rgb(255, 82, 203) solid;
    border-radius: 10px;
    text-align: left;
    font-size: medium;
    margin: 1%;
    margin-right: 20%;
}

.Ribbon3{
    background-color: rgb(253, 173, 221);
    border: 10px rgb(255, 82, 203) solid;
    border-radius: 10px;
    text-align: left;
    font-size: medium;
    margin: 1%;
    margin-right: 20%;
}

